@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: #09195E;
  --color2: #034f93;
  --color3: #EA3342;
  --color4: #EF8D33;
}

*{

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--color1);
}
input:focus {
  outline: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shadow-balanced {
  box-shadow: 1px 0 30px rgba(1, 38, 111, 0.3); /* Adjust as needed */
}